#logo{
    border-radius: 100%;
}

#logo_label{
    color:black;

}

#header{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white
}

#icon{
    height: 75px;
    width: 75px;
}

.images{
    display: flex;
    justify-content: space-evenly;
}