#logo{
    border-radius: 100%;
}

#logo_label{
    color:black;

}

#header{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white
}

#icon{
    height: 75px;
    width: 75px;
}

.images{
    display: flex;
    justify-content: space-evenly;
}

.bottom{
    display: flex;
    justify-content: center;
    margin: 25px;
}

#add{
    box-shadow: 4px 4px 0px 0px black;
}
#allbuttons{
    box-shadow: 4px 4px 0px 0px black;

}

.data{
    border-color: black ;
    height: 600px;
    width: 1000px;
    display:flex;
}

#monthly_mean{
    height: 600px;
    width:800px;
}

/* <!-- player is defined in model_thought get one -->
            <h3>Posted by: {{thought.player.first_name}} - {{thought.credential}}</h3>
            <div>
                <label for="comment">Year(s) Analyzed:</label>
                <p>{{ thought.comment}}</p>
            </div>
            <div>
                <label for="related_article">Related Articles:</label>
                <p>{{thought.related_article}}</p>
            </div>
            <div>
                <label for="hypothesis">Hypothesis:</label>
                <p>{{thought.hypothesis}}</p>
            </div>
            <div>
                <label for="date">Date Posted:</label>
                <p>{{thought.date}}</p>
            </div>
        </div> */